@import './styles/utils';

.SassComponent {
  display: flex;
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      // .red 클래스가 .box와 함께 사용되었을 때
      background: $red;
      @include squere(1);
    }
    &.orange {
      background: $orange;
      @include squere(2);
    }
    &.yellow {
      background: $yellow;
      @include squere(3);
    }
    &.green {
      background: $green;
      @include squere(4);
    }
    &.blue {
      background: $blue;
      @include squere(5);
    }
    &.indigo {
      background: $indigo;
      @include squere(6);
    }
    &.violet {
      background: $violet;
      @include squere(7);
    }
    &:hover {
      // .box에 마우스를 올렸을 때
      background: black;
    }
  }
}
